/* line 1, ../1.2/sass/style.sass */
* {
  font-family: 'Roboto' sans-serif;
}

/* line 1, ../1.2/sass/_general.sass */
header {
  height: 51px;
  background-color: #212121;
}

/* line 5, ../1.2/sass/_general.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13.5px 70px;
  margin: 0px;
  list-style-type: none;
}

/* line 12, ../1.2/sass/_general.sass */
.menu__item {
  border-right: 2px dotted black;
  padding-right: 43px;
}

/* line 15, ../1.2/sass/_general.sass */
.menu__item:last-child {
  border-right: none;
}

/* line 18, ../1.2/sass/_general.sass */
.menu__link {
  text-decoration: none;
  color: #FFFFFF;
}

/* line 22, ../1.2/sass/_general.sass */
.humburger span {
  display: none;
}

/* line 25, ../1.2/sass/_general.sass */
.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 31, ../1.2/sass/_general.sass */
.subheader__logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

/* line 36, ../1.2/sass/_general.sass */
.subheader__official {
  color: #FFFFFF;
  font-size: 13px;
  padding-left: 5px;
}

/* line 41, ../1.2/sass/_general.sass */
.subheader__call {
  margin-top: 15px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: right;
}

/* line 47, ../1.2/sass/_general.sass */
.subheader__phone {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 22px;
  text-align: right;
}

/* line 54, ../1.2/sass/_general.sass */
.subheader__btn {
  background-color: #1EACC7;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 19px;
  border-radius: 4px;
  width: 172px;
  height: 46px;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
}

/* line 66, ../1.2/sass/_general.sass */
.promo {
  padding: 152px 0 185px 0;
  min-height: 800px;
  background: url("../img/first__bg.png") center center/cover no-repeat;
}

/* line 71, ../1.2/sass/_general.sass */
.promo__header {
  font-size: 60px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700px;
  line-height: 60px;
  margin-bottom: 0;
}

/* line 80, ../1.2/sass/_general.sass */
.promo__subheader {
  margin-top: 23px;
  margin-bottom: 0;
  font-size: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700px;
  line-height: 36px;
}

/* line 90, ../1.2/sass/_general.sass */
.promo__descr {
  margin-top: 16px;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
}

/* line 96, ../1.2/sass/_general.sass */
.promo__btn {
  display: block;
  background-color: #1EACC7;
  text-transform: uppercase;
  margin: 116px auto 0 auto;
  border-radius: 4px;
  width: 259px;
  height: 63px;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
}

/* line 108, ../1.2/sass/_general.sass */
.plases {
  padding: 18px 0 64px 0;
  min-height: 815px;
  background-color: #FFFFFF;
}

/* line 113, ../1.2/sass/_general.sass */
.plases__btn {
  display: block;
  margin: 0 auto 42px auto;
  height: 24px;
  width: 113px;
  background-color: black;
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* line 123, ../1.2/sass/_general.sass */
.plases__text {
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  color: #222222;
}

/* resons */
/* line 130, ../1.2/sass/_general.sass */
.reasons {
  padding: 71px 0 65px 0;
}

/* line 133, ../1.2/sass/_general.sass */
.reasons .row {
  margin-left: 0px;
}

/* line 136, ../1.2/sass/_general.sass */
.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 149, ../1.2/sass/_general.sass */
.label_white {
  background-color: #fff;
  color: #000;
}

/* line 152, ../1.2/sass/_general.sass */
.label_min {
  width: 76px;
}

/* line 155, ../1.2/sass/_general.sass */
.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 165, ../1.2/sass/_general.sass */
.title_white {
  color: #fff;
}

/* line 168, ../1.2/sass/_general.sass */
.subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

/* line 176, ../1.2/sass/_general.sass */
.subtitle_white {
  color: #fff;
}

/* line 179, ../1.2/sass/_general.sass */
.reasons .reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

/* line 184, ../1.2/sass/_general.sass */
.reasons .reasons_block .reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1EACC7;
  border-radius: 100%;
}

/* line 193, ../1.2/sass/_general.sass */
.reasons .reasons_block .reasons__descr {
  width: 300px;
}

/* line 195, ../1.2/sass/_general.sass */
.reasons .reasons_block .reasons__descr .reasons_subtitle {
  line-height: 21px;
  color: #1EACC7;
  font-size: 17px;
  font-weight: 400;
}

/* line 200, ../1.2/sass/_general.sass */
.reasons .reasons_block .reasons__descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

/* line 208, ../1.2/sass/_general.sass */
.mobile {
  min-height: 865px;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
  padding: 46px 0 80px 0;
}

/* line 212, ../1.2/sass/_general.sass */
.mobile .row {
  margin: 30px auto 0 auto;
}

/* line 214, ../1.2/sass/_general.sass */
.mobile .mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  margin-right: 67px;
}

/* line 221, ../1.2/sass/_general.sass */
.mobile .mobile_item_1 {
  background: url("../img/kart1.png");
}

/* line 223, ../1.2/sass/_general.sass */
.mobile .mobile_item_2 {
  background: url("../img/kart2.png");
}

/* line 225, ../1.2/sass/_general.sass */
.mobile .mobile_item_3 {
  background: url("../img/kart3.png");
}

/* line 227, ../1.2/sass/_general.sass */
.mobile .mobile_item_4 {
  background: url("../img/kart4.png");
}

/* line 229, ../1.2/sass/_general.sass */
.mobile .mobile_item_5 {
  background: url("../img/kart5.png");
}

/* line 231, ../1.2/sass/_general.sass */
.mobile .mobile_item_6 {
  background: url("../img/kart6.png");
}

/* line 233, ../1.2/sass/_general.sass */
.mobile .mobile__btn {
  display: block;
  width: 115px;
  height: 27px;
  background-color: #000000;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
}

/* line 241, ../1.2/sass/_general.sass */
.mobile .mobile__text {
  height: 48px;
  width: 640px;
  color: #222222;
  font-size: 38px;
  margin: 0 auto;
  margin-top: 33px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 250, ../1.2/sass/_general.sass */
.mobile .mobile__subtext {
  font-size: 17px;
  max-width: 825px;
  height: 21px;
  color: #222222;
  margin: 0 auto;
  margin-top: 5px;
}

/* line 257, ../1.2/sass/_general.sass */
.mobile .mobile_item_subtitle {
  color: #FFFFFF;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 84px 0 34px 0;
}

/* line 263, ../1.2/sass/_general.sass */
.mobile .mobile_item_plus {
  background-color: #000000;
  border-radius: 100%;
  width: 29px;
  height: 29px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 34px;
  left: 145px;
}

/* line 275, ../1.2/sass/_general.sass */
.mobile .mobile_item_plus::before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  transition: 0.3s all;
}

/* line 282, ../1.2/sass/_general.sass */
.mobile .mobile_item_plus::after {
  content: '';
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all;
}

/* line 293, ../1.2/sass/_general.sass */
.mobile .mobile_item_plus:hover:before, .mobile .mobile_item_plus:hover::after {
  background-color: #e34141;
}

/* line 298, ../1.2/sass/_general.sass */
.car {
  height: 895px;
  position: relative;
}

/* line 301, ../1.2/sass/_general.sass */
.car_btn {
  height: 27px;
  width: 115px;
  font-size: 11px;
  color: #070716;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  position: relative;
}

/* line 310, ../1.2/sass/_general.sass */
.car_tittle {
  font-size: 38px;
  font-weight: 700;
  margin-top: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0px;
  position: relative;
}

/* line 319, ../1.2/sass/_general.sass */
.car_subtitle {
  font-size: 17px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}

/* line 325, ../1.2/sass/_general.sass */
.f_part {
  padding-top: 55px;
  background: url("../img/black_bg.png") center center/cover no-repeat;
  height: 500px;
  position: relative;
}

/* line 330, ../1.2/sass/_general.sass */
.s_part {
  background: url("../img/bg1_2.png") center center/cover no-repeat;
  height: 395px;
  padding-top: 210px;
  position: relative;
}

/* line 335, ../1.2/sass/_general.sass */
.s_subtitle {
  display: block;
  margin: 0 auto;
  color: #222222;
  width: 327px;
  text-align: center;
  position: relative;
}

/* line 342, ../1.2/sass/_general.sass */
.car_img {
  position: relative;
  margin-top: 56px;
  margin-left: 270px;
  z-index: 4;
}

/* line 350, ../1.2/sass/_general.sass */
.require {
  padding: 68px 0 87px 0;
  background-color: #FFFFFF;
}

/* line 353, ../1.2/sass/_general.sass */
.require_btn {
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 11px;
  width: 112px;
  height: 24px;
  display: block;
  margin: 0 auto;
}

/* line 362, ../1.2/sass/_general.sass */
.require_title {
  display: block;
  margin: 0 auto;
  margin-top: 28px;
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  color: #222222;
}

/* line 370, ../1.2/sass/_general.sass */
.require_block {
  padding: 33px 0 0 0;
}

/* line 372, ../1.2/sass/_general.sass */
.require_block_title {
  color: #1CA8C3;
  font-size: 22px;
}

/* line 376, ../1.2/sass/_general.sass */
.require_block_list {
  list-style: none;
  font-size: 17px;
}

/* line 379, ../1.2/sass/_general.sass */
.require_block_list li {
  position: relative;
}

/* line 381, ../1.2/sass/_general.sass */
.require_block_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  background: url("../icons/mark.png") center center/cover no-repeat;
  width: 20px;
  height: 20px;
  padding-right: 20px;
}

/* line 391, ../1.2/sass/_general.sass */
.require_block_descr {
  color: #1CA8C3;
  font-size: 17px;
  width: 480px;
  margin-top: 25px;
}

/* line 397, ../1.2/sass/_general.sass */
.require .warning .require_block_title {
  color: #FF5656;
}

/* line 400, ../1.2/sass/_general.sass */
.require .warning li::before {
  content: '';
  background: url("../icons/markr.png") center center/cover no-repeat;
}

/* line 403, ../1.2/sass/_general.sass */
.row {
  margin-left: 0px;
}

/* line 407, ../1.2/sass/_general.sass */
.world {
  background: url("../img/world_bg.png") center center/cover no-repeat;
  padding: 48px 0 22px 0;
  min-height: 716px;
}

/* line 411, ../1.2/sass/_general.sass */
.world_btn {
  display: block;
  margin: 0 auto;
  width: 76px;
  height: 24px;
  background-color: #FFFFFF;
  color: #070716;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  padding-top: 3px;
  text-transform: uppercase;
}

/* line 423, ../1.2/sass/_general.sass */
.world_title {
  font-size: 38px;
  color: #FFFFFF;
  width: 336px;
  height: 48px;
  margin: 0 auto;
  margin-top: 27px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

/* line 433, ../1.2/sass/_general.sass */
.world_subtitle {
  font-size: 17px;
  font-weight: 300;
  color: #FFFFFF;
  width: 336px;
  height: 48px;
  margin: 0 auto;
  text-align: center;
}

/* line 441, ../1.2/sass/_general.sass */
.world_descr {
  font-size: 15px;
  font-weight: 400;
  width: 223px;
  height: 68px;
  margin: 0 auto;
  margin-top: 465px;
  text-align: center;
  text-transform: uppercase;
}

/* line 450, ../1.2/sass/_general.sass */
.world_descr a {
  text-decoration: none;
  color: #1FBAD6;
}

/* line 454, ../1.2/sass/_general.sass */
.footer {
  min-height: 170px;
  padding: 12px 0 24px 0;
  background-color: #FFFFFF;
  position: relative;
}

/* line 459, ../1.2/sass/_general.sass */
.footer_line {
  margin: 0 auto;
  width: 300px;
  height: 5px;
  background-color: #1FBAD6;
}

/* line 464, ../1.2/sass/_general.sass */
.footer_info {
  width: 440px;
  margin: 0 auto;
  margin-top: 30px;
}

/* line 468, ../1.2/sass/_general.sass */
.footer_info ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 27px;
  padding-left: 0;
}

/* line 474, ../1.2/sass/_general.sass */
.footer_info li {
  text-transform: uppercase;
  list-style: none;
}

/* line 477, ../1.2/sass/_general.sass */
.footer_info a {
  text-decoration: none;
  font-size: 20px;
  color: #070716;
}

/* line 482, ../1.2/sass/_general.sass */
.footer_sub ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  padding-left: 0;
}

/* line 488, ../1.2/sass/_general.sass */
.footer_sub li {
  text-transform: uppercase;
  list-style: none;
}

/* line 491, ../1.2/sass/_general.sass */
.footer_sub a {
  text-decoration: none;
  font-size: 13px;
  color: #999999;
}

/* line 495, ../1.2/sass/_general.sass */
.footer_pidor {
  width: 40px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

/* line 501, ../1.2/sass/_general.sass */
.footer_pidor a {
  text-decoration: none;
  color: #1EACC7;
}

/* line 505, ../1.2/sass/_general.sass */
.footer_network {
  position: absolute;
  width: 300px;
  left: 55px;
  top: 50px;
  display: flex;
  justify-content: left;
  column-gap: 8px;
}

/* line 513, ../1.2/sass/_general.sass */
.footer_network_circle {
  width: 35px;
  height: 35px;
  background-color: #000000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: ceneter;
}

/* line 521, ../1.2/sass/_general.sass */
.footer_network_circle i {
  max-width: 20px;
  max-height: 20px;
  transform: translateY(50%);
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  /* line 2, ../1.2/sass/_media.sass */
  .menu__item {
    font-size: 12px;
    padding-right: 25px;
  }
  /* line 5, ../1.2/sass/_media.sass */
  .menu__item:last-child {
    border-right: none;
  }
  /* line 8, ../1.2/sass/_media.sass */
  .promo__header {
    font-size: 49px;
  }
  /* line 10, ../1.2/sass/_media.sass */
  .promo__btn {
    font-size: 20px;
  }
  /* line 12, ../1.2/sass/_media.sass */
  .promo .row {
    margin-left: 0px;
  }
  /* line 14, ../1.2/sass/_media.sass */
  .mobile .mobile_item {
    width: 285px;
  }
  /* line 16, ../1.2/sass/_media.sass */
  .mobile .mobile_item_plus {
    left: 125px;
  }
  /* line 18, ../1.2/sass/_media.sass */
  .car_img {
    margin-left: 97px;
  }
}

@media (max-width: 992px) {
  /* line 22, ../1.2/sass/_media.sass */
  .menu__item {
    font-size: 9px;
    padding-right: 11px;
    font-weight: 700;
  }
  /* line 26, ../1.2/sass/_media.sass */
  .subheader__official {
    font-size: 12px;
  }
  /* line 28, ../1.2/sass/_media.sass */
  .subheader__phone {
    font-size: 19px;
  }
  /* line 30, ../1.2/sass/_media.sass */
  .promo .row {
    margin-left: 0px;
  }
  /* line 32, ../1.2/sass/_media.sass */
  .margin .row {
    margin-left: 0px;
  }
  /* line 34, ../1.2/sass/_media.sass */
  .mobile .mobile_item {
    width: 215px;
    height: 260px;
  }
  /* line 37, ../1.2/sass/_media.sass */
  .mobile .mobile_item_plus {
    left: 94px;
  }
  /* line 39, ../1.2/sass/_media.sass */
  .mobile .mobile_item_subtitle {
    padding-top: 55px;
  }
  /* line 41, ../1.2/sass/_media.sass */
  .reasons .reasons_block .reasons__descr {
    width: 180px;
  }
  /* line 43, ../1.2/sass/_media.sass */
  .car_img {
    margin-left: -30px;
  }
  /* line 45, ../1.2/sass/_media.sass */
  .reasons_text {
    width: 340px;
  }
  /* line 47, ../1.2/sass/_media.sass */
  .reasons_block {
    flex-direction: column;
  }
  /* line 49, ../1.2/sass/_media.sass */
  .reasons__descr {
    margin-top: 30px;
    min-width: 342px;
    text-align: center;
  }
  /* line 53, ../1.2/sass/_media.sass */
  .subheader__btn {
    max-width: 100%;
  }
}

@media (max-width: 769px) {
  /* line 57, ../1.2/sass/_media.sass */
  .car_img {
    margin-left: -30px;
  }
  /* line 59, ../1.2/sass/_media.sass */
  .mobile .mobile__subtext {
    padding-top: 30px;
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
  }
  /* line 64, ../1.2/sass/_media.sass */
  .footer_network {
    top: 10px;
    flex-direction: column;
    row-gap: 8px;
  }
  /* line 68, ../1.2/sass/_media.sass */
  .car_subtitle {
    margin-top: 20px;
  }
  /* line 70, ../1.2/sass/_media.sass */
  .car_img {
    width: 550px;
    height: 350px;
  }
  /* line 73, ../1.2/sass/_media.sass */
  .mobile .mobile__text {
    width: 100%;
    text-align: center;
    height: 100px;
  }
  /* line 77, ../1.2/sass/_media.sass */
  .subheader__phone {
    font-size: 15px;
    margin-top: 28px;
  }
  /* line 80, ../1.2/sass/_media.sass */
  .subheader__official {
    display: none;
  }
  /* line 82, ../1.2/sass/_media.sass */
  .subheader__call {
    display: none;
  }
  /* line 84, ../1.2/sass/_media.sass */
  .subheader__logo {
    margin-top: 28px;
  }
  /* line 86, ../1.2/sass/_media.sass */
  .subheader__logo img {
    width: 100%;
  }
  /* line 88, ../1.2/sass/_media.sass */
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -100%;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    padding: 100px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  /* line 101, ../1.2/sass/_media.sass */
  .menu_active {
    left: 0;
    z-index: 10;
  }
  /* line 104, ../1.2/sass/_media.sass */
  .menu__item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  /* line 108, ../1.2/sass/_media.sass */
  .menu__link {
    font-size: 20px;
  }
  /* line 110, ../1.2/sass/_media.sass */
  .header {
    position: relative;
    padding-top: 10px;
  }
  /* line 113, ../1.2/sass/_media.sass */
  .humburger {
    width: 26px;
    margin-top: 11px;
    position: absolute;
    height: 20px;
    top: 15px;
    right: 20px;
  }
  /* line 120, ../1.2/sass/_media.sass */
  .humburger span {
    display: block;
    background-color: #fff;
    width: 26px;
    height: 2px;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  /* line 128, ../1.2/sass/_media.sass */
  .humburger_active span {
    margin-bottom: -2px;
  }
  /* line 130, ../1.2/sass/_media.sass */
  .humburger_active span:nth-last-child(1) {
    transform: translateY(-50%) rotate(-45deg);
  }
  /* line 132, ../1.2/sass/_media.sass */
  .humburger_active span:nth-last-child(2) {
    display: none;
  }
  /* line 134, ../1.2/sass/_media.sass */
  .humburger_active span:nth-last-child(3) {
    transform: translateY(-50%) rotate(45deg);
  }
}

@media (max-width: 576px) {
  /* line 138, ../1.2/sass/_media.sass */
  .subheader__phone {
    font-size: 10px;
  }
  /* line 140, ../1.2/sass/_media.sass */
  .mobile {
    padding: 20px 0 40px 0;
  }
  /* line 142, ../1.2/sass/_media.sass */
  .mobile .row {
    margin-top: 30px;
  }
  /* line 144, ../1.2/sass/_media.sass */
  .mobile .row_item {
    height: 254px;
    padding: 81px 40px 0 40px;
  }
  /* line 147, ../1.2/sass/_media.sass */
  .car_img {
    margin-top: 100px;
    height: 210px;
    width: 310px;
  }
  /* line 151, ../1.2/sass/_media.sass */
  .require_block_descr {
    max-width: 300px;
  }
  /* line 153, ../1.2/sass/_media.sass */
  .footer_info {
    width: 300px;
  }
  /* line 155, ../1.2/sass/_media.sass */
  .footer_sub {
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */